@charset "utf-8";
	.st6
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st27
{
	font-family : 黑体;
	font-size : 56px;
	color : #FF0000;
	color : rgb(255, 0, 0);
	text-outline : #FF0000;
	text-outline : rgb(255, 0, 0);
	opacity : 0.3;
	filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.st21
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st36
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st30
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st22
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st29
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st20
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st15
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st11
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st10
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st12
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st19
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st32
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st16
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st37
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st38
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st34
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st35
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st24
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st14
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st28
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
	opacity : 0.6;
	filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.st26
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st1
{
	font-family : 黑体;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st31
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st23
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st17
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
	opacity : 0.6;
	filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.st25
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st13
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st18
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
	opacity : 0.6;
	filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.st5
{
	font-family : 黑体;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st9
{
	font-family : 黑体;
	font-size : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st33
{
	font-family : 黑体;
	font-size : 56px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.st
{
	font-family : Adobe 宋体 Std;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	opacity : 0.9;
	filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90) ;
}
.st55
{
	font-family : 黑体;
	font-size : 36px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
